$color-white: #fff;
$color-gallery: #f0f0f0;
$color-alto: #d0d0d0;
$color-tundora: #444;
$color-mine-shaft: #222;
$color-cod-gray: #111;

$color-dandelion: #ffe065;
$color-screaming-green: #65ff76;
$color-heliothrope: #c865ff;
$color-bittersweet: #ff6565;
$color-aquamarine: #65f1ff;
